/**
* stand alone result button
*/

lens-result-summary::part(lens-negotiate-button) {
    color: var(--white);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xs) var(--gap-s);
    font-size: var(--font-size-m);
    cursor: pointer;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    font-family: var(--font-family);
}

lens-result-summary::part(lens-negotiate-button-active) {
    background-color: var(--blue);
}

lens-result-summary::part(lens-negotiate-button-disabled) {
    background-color: var(--gray);
}

lens-result-summary::part(lens-negotiate-button-active):hover {
    background-color: var(--light-blue);
}
