lens-search-modified-display::part(display-wrapper){
    border: solid var(--light-orange) 1px;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xxs) var(--gap-xs);
    text-align: center;
    width: max-content;
    margin: var(--gap-xs) auto;
}