:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 100px;
  background-color: #7e7e7e;
}

lens-search-bar::part(lens-searchbar-input) {
  box-sizing: border-box;
}

lens-catalogue::part(data-tree-element) {
  padding-left: 20px;
}