:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #a7a7a7;
  --light-gray: #dcdcdc;
  --dark-gray: #323232;
  --blue: #0047b9;
  --light-blue: #4875c3;
  --dark-blue: #002d80;
  --green: #00882d;
  --light-green: #00b33c;
  --dark-green: #00591a;
  --red: #b90000;
  --light-red: #ff0000;
  --dark-red: #800000;

  --border-radius-small: 5px;

  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;



}

body {
  margin: 100px;
  background-color: var(--gray);
}


/**
  * Lens Search Bar
  */
lens-search-bar::part(lens-searchbar) {
  position: relative;
  z-index: 1;
}


lens-search-bar::part(lens-searchbar-input) {
  box-sizing: border-box;
  border: solid 1px var(--dark-gray);
  border-radius: var(--border-radius-small);
  padding: var(--gap-xs) var(--gap-s);
  width: 100%;
  height: 100%;
  padding: var(--gap-xs) var(--gap-s);
  outline: none;
}
lens-search-bar::part(lens-searchbar-input):focus {
  border-color: var(--blue);
}

lens-search-bar::part(lens-searchbar-input-options-open) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

lens-search-bar::part(lens-searchbar-autocomplete-options) {
  list-style-type: none;
  padding: var(--gap-s);
  margin: 0;
  border: solid 1px var(--blue);
  border-top: none;
  width: calc(100% - 2*var(--gap-s) - 2px); /* padding of container plus borders */
  position: absolute;
  background-color: white;
  color: black;
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}  

lens-search-bar::part(lens-searchbar-autocomplete-options-item) {
  cursor: pointer;
}
lens-search-bar::part(lens-searchbar-autocomplete-options-item-focused) {
  color: coral;
}


  

/**
* Lens search Button
*/

lens-search-button::part(lens-search-button) {
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--gap-xs) var(--gap-s);
  font-size: var(--font-size-m);
  cursor: pointer;
}

lens-search-button::part(lens-search-button-active) {
  background-color: var(--blue);
}

lens-search-button::part(lens-search-button-disabled) {
  background-color: var(--gray);
}

lens-search-button::part(lens-search-button-active):hover {
  background-color: var(--light-blue);
}


/**
* Lens Cataloque
*/

lens-catalogue::part(lens-catalogue) {
  background-color: var(--light-gray);
  padding: var(--gap-s);
}

lens-catalogue::part(lens-catalogue-toggle-button) {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--gap-xs) var(--gap-s);
  margin-bottom: var(--gap-s);
  font-size: var(--font-size-m);
  cursor: pointer;
}
lens-catalogue::part(lens-catalogue-toggle-button):hover {
  background-color: var(--light-green);
}

lens-catalogue::part(data-tree-element-name) {
  font-size: var(--font-size-m);
  color: var(--dark-gray);
  margin-bottom: 10px;
  border: none;
  background-color: unset;
  cursor: pointer;
}


lens-catalogue::part(data-tree-element-child-category) {
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: solid 1px var(--dark-gray);
}
lens-catalogue::part(data-tree-element-last-child-options) {
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: solid 1px var(--dark-gray);
}

lens-catalogue::part(lens-number-input-wrapper) , lens-catalogue::part(){
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

lens-catalogue::part(lens-number-input-section-values-input) {
  width: 50px;
  margin: 0 10px;
}

lens-catalogue::part(lens-number-input-section-groups) {
  display: flex;
  align-items: center;
  gap: 10px;
}

lens-catalogue::part(lens-number-input-section-groups-checkboxes), lens-catalogue::part(lens-catalogue-section), lens-catalogue::part(lens-number-input-wrapper) {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

lens-catalogue::part(lens-catalogue-query-select-label), lens-catalogue::part(lens-number-input-section-values-label), lens-catalogue::part(lens-number-input-section-groups) {
  display: inline-flex;
  align-items: baseline;
}
