@import url('./styles/default/searchbars.css');
@import url('./styles/default/search-button.css');
@import url('./styles/default/catalogue.css');
@import url('./styles/default/results-overview.css');
@import url('./styles/default/result-table.css');
@import url('./styles/default/result-chart.css');
@import url('./styles/default/negotiate-button.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --ghost-white: #f8f8ff;
  --black: #000000;
  --gray: #a7a7a7;
  --light-gray: #dee2e6;
  --lightest-gray: #efefef;
  --dark-gray: #323232;
  --blue: #00489c;
  --light-blue: #007bff;
  --lightest-blue: #adc7f3;
  --dark-blue: #002d80;
  --green: #00882d;
  --light-green: #00b33c;
  --dark-green: #00591a;
  --red: #b90000;
  --light-red: #ff0000;
  --dark-red: #800000;
  --orange: #e95713;
  --light-orange: #ffa750;

  --border-radius-small: 5px;

  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
}

/**
* Demo
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--ghost-white);
}

header {
  background-color: var(--white);
  padding: var(--gap-s);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: var(--border-radius-small);
  border: solid 1px var(--lightest-gray);
}

.logo img {
  height: 30px;
}

.logo-dkfz {
  justify-self: end;
}

header h1 {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: normal;
  color: var(--blue);
}

main>div,
header,
footer {
  margin: var(--gap-xs);
}

.search {
  grid-gap: var(--gap-s);
  padding: var(--gap-s) 0;
  background-color: var(--ghost-white);
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: var(--gap-m);
}

.catalogue {
  padding: var(--gap-s);
  border-radius: var(--border-radius-small);
  border: solid 1px var(--lightest-gray);
  background-color: var(--white);
  grid-row: 1/-1;
  overflow: scroll;
  height: 100vh;
  position: sticky;
  top: 0;
}

.charts {
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--gap-xs);
}


.chart-wrapper {
  padding: var(--gap-s);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  border: solid 1px var(--lightest-gray);
  display: grid;
}

.result-summary {
  grid-column: 1/-1;
}


@media screen and (max-width: 1023px) {

  .grid {
    display: grid;
    grid-gap: var(--gap-m);
  }

  .catalogue {
    position: static;
    max-width: 100% !important;
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .catalogue button {
    display: none;
  }

  .charts {
    margin-left: 0px;
  }
}



footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--gap-s);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  border: solid 1px var(--lightest-gray);
}

.email {
  justify-self: center;
}

.copyright {
  justify-self: end;
  text-align: right;
}