:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --ghost-white: #f8f8ff;
  --black: #000000;
  --gray: #a7a7a7;
  --light-gray: #dee2e6;
  --lightest-gray: #efefef;
  --dark-gray: #323232;
  --blue: #0047b9;
  --light-blue: #007bff;
  --lightest-blue: #adc7f3;
  --dark-blue: #002d80;
  --green: #00882d;
  --light-green: #00b33c;
  --dark-green: #00591a;
  --red: #b90000;
  --light-red: #ff0000;
  --dark-red: #800000;
  --orange: #e95713;
  --light-orange: #ffa750;

  --border-radius-small: 5px;
  --border-color: #efefef;

  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
}

/**
* Demo
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--ghost-white);
}

header {
  background-color: var(--white);
  padding: var(--gap-s);
  display: grid;
  grid-template-columns: 120px 1fr;
  border-radius: var(--border-radius-small);
  border: solid 1px var(--border-color);
}

.logo img {
  height: 70px;
}

header h1 {
  text-align: center;
}

main>div,
header,
footer {
  margin: var(--gap-xs);
}

main .search {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--gap-s);
}

main .grid {
  position: relative;
}

main .catalogue {
  padding: var(--gap-s);
  border-radius: var(--border-radius-small);
  border: solid 1px var(--lightest-gray);
  position: absolute;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--white);
  transition: all 0.5s ease;
  width: min-content;
}

main .catalogue button {
  height: 30px;
  background-color: var(--white);
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: var(--font-size-xl);
  color: var(--blue);
  cursor: pointer;
}

main .catalogue button:hover {
  color: var(--light-blue);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-s);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  border: solid 1px var(--border-color);
}

footer .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 100px;
}




/**
  * Lens Search Bar
  */
lens-search-bar-multiple::part(lens-searchbar-multiple) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xs);
  align-items: center;
}

lens-search-bar-multiple::part(search-bar-wrapper) {
  display: flex;
  align-items: center;
  min-width: calc(50% - 5px);
  flex-grow: 1;
}

lens-search-bar-multiple::part(lens-searchbar):focus-within {
  border-color: var(--blue);
  border: solid 1px var(--blue);
  border-radius: var(--border-radius-small);
}

lens-search-bar-multiple::part(lens-searchbar) {
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: var(--white);
  border: solid 1px var(--lightest-gray);
  border-radius: var(--border-radius-small);
  padding: 0 var(--gap-s);
  display: flex;
  flex-wrap: wrap;
  width: -webkit-fill-available;
}


lens-search-bar-multiple::part(lens-searchbar-or-indicator) {
  margin-left: var(--gap-xs);
  text-align: center;
  width: 40px;
}

lens-search-bar-multiple::part(lens-searchbar-chips) {
  display: flex;
  flex-wrap: wrap;
}

lens-search-bar-multiple::part(lens-searchbar-chip) {
  background-color: var(--blue);
  color: var(--white);
  border: solid 1px var(--lightest-gray);
  border-radius: var(--border-radius-small);
  width: max-content;
  padding: 0 var(--gap-xs);
}

lens-search-bar-multiple::part(lens-searchbar-input) {
  box-sizing: border-box;
  padding: var(--gap-xs) var(--gap-s);
  min-width: 200px;
  flex-grow: 1;
  outline: none;
  border: none;
}

lens-search-bar-multiple::part(lens-searchbar-input-options-open) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

lens-search-bar-multiple::part(lens-searchbar-autocomplete-options) {
  max-height: 50vh;
  overflow: scroll;
  list-style-type: none;
  padding: var(--gap-s);
  margin: 0;
  border: solid 1px var(--blue);
  border-top: none;
  position: absolute;
  top: 30px;
  left: -1px;
  right: -1px;
  background-color: white;
  color: black;
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}

lens-search-bar-multiple::part(lens-searchbar-autocomplete-options-item) {
  cursor: pointer;
}

lens-search-bar-multiple::part(lens-searchbar-autocomplete-options-item-focused) {
  color: coral;
}

lens-search-bar-multiple::part(lens-searchbar-add-button) {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: 0;
  font-size: var(--font-size-m);
  cursor: pointer;
  align-self: normal;
  line-height: 22px;
  width: 40px;
  margin-left: var(--gap-xs);
}

/**
* search Button in multiple searchbar
*/


lens-search-bar-multiple::part(lens-search-button) {
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--gap-xs) var(--gap-s);
  font-size: var(--font-size-m);
  cursor: pointer;
  display: flex;
  gap: var(--gap-xs);
  align-items: center;
  margin-left: auto;
  margin-right: 45px;
}

lens-search-bar-multiple::part(lens-search-button-active) {
  background-color: var(--blue);
}

lens-search-bar-multiple::part(lens-search-button-disabled) {
  background-color: var(--gray);
}

lens-search-bar-multiple::part(lens-search-button-active):hover {
  background-color: var(--light-blue);
}

lens-search-bar-multiple::part(lens-search-button-magnifying-glass) {
  transform: rotate(-45deg);
  font-size: var(--font-size-xl);
  line-height: 0;
}



/**
* Lens Cataloque
*/

/**
* Cataloque Structure
*/

lens-catalogue::part(lens-catalogue-toggle-button) {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--gap-xs) var(--gap-s);
  margin-bottom: var(--gap-s);
  font-size: var(--font-size-m);
  cursor: pointer;
}

lens-catalogue::part(lens-catalogue-toggle-button):hover {
  background-color: var(--light-green);
}

lens-catalogue::part(data-tree-element-name) {
  font-size: var(--font-size-m);
  color: var(--dark-gray);
  margin-bottom: 10px;
  border: none;
  background-color: unset;
  cursor: pointer;
}

lens-catalogue::part(data-tree-element-child-category),
lens-catalogue::part(data-tree-element-last-child-options) {
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: solid 1px var(--dark-gray);
}

/**
* Cataloque shared
*/

lens-catalogue::part(criterion-wrapper) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--gap-xs);
}

lens-catalogue::part(criterion-item) {
  margin-top: var(--gap-xxs);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gap-xs);
  align-items: center;
}



/**
* Group Checkboxes
*/

lens-catalogue::part(criterion-group-wrapper),
lens-catalogue::part(query-selection-label) {
  display: flex;
  gap: var(--gap-xs);
}

lens-catalogue::part(query-selection-input) {
  accent-color: var(--blue);
}

/**
*  Query Add Button
*/

lens-catalogue::part(query-add-button) {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-xs);
  cursor: pointer;
  width: 45px;
  height: 20px;
}

/**
* Cataloque Inputs
*/
lens-catalogue::part(criterion-group-wrapper),
lens-catalogue::part(criterion-section-groups) {
  display: flex;
  gap: var(--gap-xs);
  align-items: center;
}


lens-catalogue::part(criterion-section-values) {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

/**
* Number Input
*/


lens-catalogue::part(criterion-item-number-input) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

lens-catalogue::part(number-input-label) {
  display: flex;
  align-items: center;
}

lens-catalogue::part(number-input-formfield) {
  width: 30px;
  margin: 0 0 0 10px;
  border: solid 1px var(--dark-gray);
  border-top: none;
  padding: var(--gap-xxs) 0 var(--gap-xxs) var(--gap-s);
  border-radius: var(--border-radius-small);
}

lens-catalogue::part(number-input-formfield):focus {
  border-color: var(--blue);
  outline: none;
}

lens-catalogue::part(number-input-add) {
  margin-top: var(--gap-s);
}

lens-catalogue::part(number-input-add-button) {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: 0;
  font-size: var(--font-size-m);
  cursor: pointer;
  height: 20px;
  line-height: 22px;
  width: 100px;
}

lens-catalogue::part(number-input-add-button):hover {
  background-color: var(--light-green);
}

lens-catalogue::part(number-input-delete-button) {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: 0;
  font-size: var(--font-size-m);
  cursor: pointer;
  height: 20px;
  line-height: 22px;
  width: 20px;
}

lens-catalogue::part(number-input-delete-button):hover {
  background-color: var(--light-orange);
}




/**
* Autocomplete
*/
lens-catalogue::part(autocomplete-formfield) {
  margin-bottom: var(--gap-xs);
  margin-top: var(--gap-xs);
  position: relative;
}

lens-catalogue::part(autocomplete-formfield-input) {
  box-sizing: border-box;
  border: solid 1px var(--dark-gray);
  border-top: none;
  padding: var(--gap-xxs) var(--gap-s);
  padding: var(--gap-xxs) var(--gap-s);
  outline: none;
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}

lens-catalogue::part(autocomplete-formfield-input):focus {
  border-color: var(--blue);
  width: 100%;
}

lens-catalogue::part(autocomplete-options) {
  z-index: 1;
  list-style-type: none;
  padding: var(--gap-s);
  margin: 0;
  border: solid 1px var(--border-color);
  border-top: none;
  width: calc(100% - 2*var(--gap-s) - 2px);
  /* padding of container plus borders */
  position: absolute;
  background-color: white;
  color: black;
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}


lens-catalogue::part(autocomplete-options-item) {
  display: grid;
  grid-template-columns: 70px 1fr;
  cursor: pointer;
}

lens-catalogue::part(autocomplete-options-item-focused) {
  color: coral;
}


lens-catalogue::part(criterion-autocomplete-name) {
  position: relative;
  cursor: help;
}

lens-catalogue::part(criterion-autocomplete-tooltip) {
  bottom: var(--font-size-m);
  left: 45px;
  padding: var(--gap-xs);
  background-color: var(--lightest-gray);
  border-radius: var(--border-radius-small);
  border-bottom-left-radius: 0;
  border: solid 1px var(--green);
}



/**
* Query Display
*/

lens-query-display::part(query-display-wrapper) {
  display: flex;
  gap: var(--gap-xs);
  flex-wrap: wrap;
}

lens-query-display::part(query-display-group-heading) {
  text-align: center;
}

lens-query-display::part(query-display-group) {
  background-color: var(--white);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-small);
  padding: 10px;
  min-width: 385px;
  width: calc(50% - 58px);
  display: grid;
  grid-template-rows: auto 1fr auto;

}



lens-query-display::part(query-display-group-section) {
  padding: 20px;
}

lens-query-display::part(query-display-remove-group-button) {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--gap-xxs) var(--gap-s);
  font-size: var(--font-size-m);
  cursor: pointer;
  width: 150px;
  justify-self: center;
}

lens-query-display::part(query-display-remove-group-button):hover {
  background-color: var(--light-orange);
}

lens-query-display::part(query-display-add-group-button) {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-xxl);
  cursor: pointer;
  min-height: 150px;
  width: 50px;
}

lens-query-display::part(query-display-add-group-button):hover {
  background-color: var(--light-green);
}



/**
* Results
*/

main .charts {
  min-height: 600px;
  margin-left: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--gap-xs);
}


/**
* Summary
*/

lens-result-summary {
  background-color: var(--white);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-small);
  padding: var(--gap-s);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--gap-xl);
  grid-column: 1/-1;
  align-items: center;
}

lens-result-summary::part(result-summary-content) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/**
* Charts
*/

lens-chart {
  background-color: var(--white);
  display: grid;
}

lens-chart::part(chart-wrapper) {
  background-color: var(--white);
  padding: var(--gap-l);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-small);
  display: grid;
  grid-template-rows: auto 1fr auto;

}

lens-chart::part(chart-title) {
  text-align: center;
  margin: 0;
  padding-bottom: var(--gap-m);
}


lens-chart::part(chart-canvas) {
  width: 100%;
  max-height: 400px;
}

lens-chart::part(chart-hint) {
  font-size: var(--font-size-xs);
  padding-top: var(--gap-m);
}


/*
* Result Table
*/

lens-result-table {
  background-color: var(--white);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius-small);
  padding: var(--gap-l);
  display: grid;
  grid-template-rows: auto auto 1fr;
}

lens-result-table::part(result-table-title) {
  text-align: center;
  margin: 0;
  padding-bottom: var(--gap-m);
}

lens-result-table::part(result-table) {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0 15px;
  height: max-content;
  overflow: scroll;
}

lens-result-table::part(table-header) {
  border-bottom: solid 1px var(--gray);
}

lens-result-table::part(table-header-row) {
  text-align: left;
}

lens-result-table::part(table-header-cell) {
  padding-bottom: var(--gap-xs);
}

lens-result-table::part(table-body-row) {
  border-bottom: solid 1px var(--light-gray);
}

lens-result-table::part(table-body-cell) {
  padding-top: var(--gap-xs);
}

lens-result-table::part(table-pagination) {
  display: flex;
  justify-content: center;
  padding-top: var(--gap-m);
  gap: var(--gap-s);
  align-items: flex-end;
}

lens-result-table::part(table-pagination-button) {
  border: solid 1px var(--border-color);
  background: var(--white);
  border-radius: var(--border-radius-small);
  padding: var(--gap-xxs) var(--gap-s);
}































@media screen and (max-width: 1023px) {

  main .grid {
    display: grid;
    grid-gap: var(--gap-m);
  }

  main .catalogue {
    position: static;
    max-width: 100% !important;
    flex-direction: column;
    height: auto;
  }

  main .catalogue button {
    display: none;
  }

  main .charts {
    margin-left: 0px;
  }



  lens-query-display::part(query-display-wrapper) {
    justify-content: center;
  }

  lens-query-display::part(query-display-group) {
    width: 100%;
  }

  lens-query-display::part(query-display-add-group-button) {
    width: 150px;
    min-height: 50px;
    justify-self: center;
  }

}