/* @import "../../../node_modules/@samply/lens/dist/style.css"; */
@import "../../lib/src/styles/index.css";

/**
* Demo
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
 
main {
  padding: var(--gap-xxl);
  background-color: var(--dark-gray);
}

h2 {
  color: var(--white)
}

.componentBox {
  padding: var(--gap-xxl);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--gap-xxl);
}
