@import url('./styles/default/searchbars.css');
@import url('./styles/default/search-button.css');
@import url('./styles/default/catalogue.css');
@import url('./styles/default/results-overview.css');
@import url('./styles/default/result-table.css');
@import url('./styles/default/result-chart.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #a7a7a7;
  --light-gray: #dcdcdc;
  --lightest-gray: #efefef;
  --dark-gray: #323232;
  --blue: #0047b9;
  --light-blue: #0062ff;
  --lightest-blue: #adc7f3;
  --dark-blue: #002d80;
  --green: #00882d;
  --light-green: #00b33c;
  --dark-green: #00591a;
  --red: #b90000;
  --light-red: #ff0000;
  --dark-red: #800000;
  --orange: #ff8a3c;
  --light-orange: #ffa750;

  --border-radius-small: 5px;

  --gap-xxs: 5px;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
}

/**
* Demo
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
 
main {
  padding: var(--gap-xxl);
  background-color: var(--dark-gray);
}

h2 {
  color: var(--white)
}

.componentBox {
  padding: var(--gap-xxl);
  background-color: var(--white);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--gap-xxl);
}
