# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
    - package-ecosystem: "npm" # See documentation for possible values
      directory: "/" # Location of package manifests
      schedule:
          interval: "weekly"
      # Group minor and patch updates into a single PR to reduce noise
      # Major version updates will still be created as individual PRs for careful review
      groups:
          minor-and-patch:
              patterns:
                  - "*"
              update-types:
                  - "minor"
                  - "patch"
