/**
* Catalogue Structure
*/

lens-catalogue::part(lens-catalogue-toggle-button) {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xs) var(--gap-s);
    margin-bottom: var(--gap-s);
    font-size: var(--font-size-m);
    cursor: pointer;
    display: flex;
    gap: var(--gap-xs);
    width: 100%;
}

lens-catalogue::part(lens-catalogue-toggle-button):hover {
    background-color: var(--button-background-color-hover);
}

lens-catalogue::part(toggle-button-open-icon) {
    transform: rotate(180deg);
}

lens-catalogue::part(data-tree-element) {
    position: relative;
}

lens-catalogue::part(data-tree-element-name) {
    font-family: var(--font-family);
    color: var(--font-color);
    padding-left: var(--gap-s);
    padding-right: 0;
    font-size: var(--font-size-m);
    margin-bottom: var(--gap-xs);
    border: none;
    background-color: unset;
    cursor: pointer;
    position: relative;
    text-align: left;
}

lens-catalogue::part(data-tree-element-toggle-icon) {
    position: absolute;
    left: -15px;
    top: -8px;
    font-size: 22px;
    font-weight: lighter;
    transform: rotate(-90deg);
    transition: all 0.1s ease-in-out;
}

lens-catalogue::part(add-all-options-button) {
    background-color: var(--button-background-color);
    border-radius: var(--border-radius-small);
    color: var(--button-color);
    position: relative;
    padding: 3px 8px;
    cursor: pointer;
    border: none;
    left: +15px;
}

lens-catalogue::part(data-tree-element-toggle-icon-open) {
    transform: rotate(0deg);
}

lens-catalogue::part(info-button) {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
}

lens-catalogue::part(info-button-icon) {
    bottom: 5px;
    width: 16px;
    height: 16px;
}

lens-catalogue::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: var(--gap-m);
    left: var(--gap-s);
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

lens-catalogue::part(data-tree-element-info-icon):hover
    lens-catalogue::part(data-tree-element-info-text) {
    display: block;
}

lens-catalogue::part(data-tree-element-child-category) {
    padding: var(--gap-xs) 0 0 var(--gap-s);
    border-left: solid 1px var(--lightest-gray);
}

lens-catalogue::part(data-tree-element-last-child-options) {
    max-width: 100%;
    border-left: solid 1px var(--lightest-gray);
    padding-left: var(--gap-m);
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);
}

/**
  * Catalogue shared
  */

lens-catalogue::part(lens-catalogue-wrapper) {
    display: grid;
    grid-gap: var(--gap-xs);
}
