/**
* Cataloque Structure
*/

lens-catalogue::part(lens-catalogue-toggle-button) {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xs) var(--gap-s);
    margin-bottom: var(--gap-s);
    font-size: var(--font-size-m);
    cursor: pointer;
    display: flex;
    gap: var(--gap-xs);
    width: 100%;
}

lens-catalogue::part(lens-catalogue-toggle-button):hover {
    background-color: var(--button-background-color-hover);
}

lens-catalogue::part(toggle-button-open-icon) {
    transform: rotate(180deg);
}

lens-catalogue::part(data-tree-element) {
    position: relative;
}

lens-catalogue::part(data-tree-element-name) {
    font-family: var(--font-family);
    color: var(--font-color);
    padding-left: var(--gap-s);
    padding-right: 0;
    font-size: var(--font-size-m);
    margin-bottom: var(--gap-xs);
    border: none;
    background-color: unset;
    cursor: pointer;
    position: relative;
    text-align: left;
}

lens-catalogue::part(data-tree-element-toggle-icon) {
    position: absolute;
    left: -15px;
    top: -8px;
    font-size: 22px;
    font-weight: lighter;
    transform: rotate(-90deg);
    transition: all 0.1s ease-in-out;
}

lens-catalogue::part(add-all-options-button) {
    background-color: var(--button-background-color);
    border-radius: var(--border-radius-small);
    color: var(--button-color);
    position: relative;
    padding: 3px 8px;
    cursor: pointer;
    border: none;
    left: +15px;
}

lens-catalogue::part(data-tree-element-toggle-icon-open) {
    transform: rotate(0deg);
}

lens-catalogue::part(info-button) {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
}

lens-catalogue::part(info-button-icon) {
    bottom: 5px;
    width: 16px;
    height: 16px;
}

lens-catalogue::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: var(--gap-m);
    left: var(--gap-s);
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

lens-catalogue::part(data-tree-element-info-icon):hover
    lens-catalogue::part(data-tree-element-info-text) {
    display: block;
}

lens-catalogue::part(data-tree-element-child-category) {
    padding: var(--gap-xs) 0 0 var(--gap-s);
    border-left: solid 1px var(--lightest-gray);
}

lens-catalogue::part(data-tree-element-last-child-options) {
    border-left: solid 1px var(--lightest-gray);
    padding-left: var(--gap-m);
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);
}

/**
  * Cataloque shared
  */

lens-catalogue::part(lens-catalogue-wrapper) {
    display: grid;
    grid-gap: var(--gap-xs);
}

lens-catalogue::part(criterion-wrapper) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--gap-xs);
}

lens-catalogue::part(criterion-item) {
    margin-top: var(--gap-xxs);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-xs);
    align-items: center;
}

lens-catalogue::part(criterion-group-wrapper),
lens-catalogue::part(criterion-section-groups) {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
}

/**
  *  Query Add Button
  */

lens-catalogue::part(query-add-button) {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-m);
    cursor: pointer;
    width: 45px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

lens-catalogue::part(criterion-section-values) {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

/**
  * Number Input
  */
lens-catalogue::part(criterion-item-number-input) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

lens-catalogue::part(number-input-label) {
    display: flex;
    align-items: center;
}

lens-catalogue::part(number-input-formfield) {
    width: 60px;
    margin-left: var(--gap-xs);
    border: solid 1px var(--dark-gray);
    border-top: none;
    border-radius: var(--border-radius-small);
    text-align: center;
    font-size: var(--font-size-s);
}

lens-catalogue::part(number-input-formfield)::-webkit-inner-spin-button,
lens-catalogue::part(number-input-formfield)::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

lens-catalogue::part(number-input-formfield):focus {
    border-color: var(--blue);
    outline: none;
}

lens-catalogue::part(number-input-add) {
    margin-top: var(--gap-s);
}

/**
  * Date Picker
  */
lens-catalogue::part(criterion-item-date-input) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

lens-catalogue::part(date-input-label) {
    display: flex;
    align-items: center;
}

lens-catalogue::part(date-input-formfield) {
    font-family: var(--font-family);
    width: 120px;
    margin-left: var(--gap-xs);
    border: solid 1px var(--dark-gray);
    border-top: none;
    border-radius: var(--border-radius-small);
    text-align: center;
    font-size: var(--font-size-s);
}

lens-catalogue::part(date-input-formfield):focus {
    border-color: var(--blue);
    outline: none;
}

lens-catalogue::part(date-input-add) {
    margin-top: var(--gap-s);
}

/**
  * Autocomplete
  */
lens-catalogue::part(autocomplete-formfield) {
    margin-bottom: var(--gap-xs);
    margin-top: var(--gap-xs);
    position: relative;
}

lens-catalogue::part(autocomplete-formfield-input) {
    box-sizing: border-box;
    border: solid 1px var(--dark-gray);
    border-top: none;
    padding-left: var(--gap-xs);
    outline: none;
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
    font-size: var(--font-size-s);
}

lens-catalogue::part(autocomplete-formfield-input):focus {
    border-color: var(--blue);
    width: 100%;
}

lens-catalogue::part(autocomplete-options) {
    box-sizing: border-box;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: solid 1px var(--blue);
    border-top: none;
    width: 100%;
    position: absolute;
    background-color: white;
    color: black;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    max-height: 400px;
    overflow: scroll;
}

lens-catalogue::part(autocomplete-options-item) {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    cursor: pointer;
    padding: var(--gap-xs);
}

lens-catalogue::part(autocomplete-options-item-focused) {
    color: var(--white);
    background-color: var(--blue);
}

lens-catalogue::part(autocomplete-options-item-description) {
    font-size: var(--font-size-xs);
    color: var(--blue);
}

lens-catalogue::part(autocomplete-options-item-description-focused) {
    color: var(--white);
    font-size: var(--font-size-xs);
}

lens-catalogue::part(criterion-autocomplete-name) {
    position: relative;
    cursor: help;
}

lens-catalogue::part(criterion-autocomplete-tooltip) {
    bottom: var(--font-size-m);
    left: 45px;
    padding: var(--gap-xs);
    background-color: var(--white);
    border-radius: var(--border-radius-small);
    border-bottom-left-radius: 0;
    border: solid 1px var(--blue);
}

/**
  * String
  */
lens-catalogue::part(string-formfield) {
    margin-bottom: var(--gap-xs);
    margin-top: var(--gap-xs);
    position: relative;
    display: flex;
    gap: var(--gap-xs);
}

lens-catalogue::part(string-formfield-input) {
    box-sizing: border-box;
    border: solid 1px var(--dark-gray);
    border-top: none;
    padding-left: var(--gap-xs);
    outline: none;
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
    font-size: var(--font-size-s);
}

lens-catalogue::part(string-formfield-input):focus {
    border-color: var(--blue);
    width: 100%;
}

lens-catalogue::part(formfield-error) {
    color: var(--red);
    border-color: var(--red);
}
