/**
* Catalogue Structure
*/

lens-catalogue::part(info-button) {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
}

lens-catalogue::part(info-button-icon) {
    bottom: 5px;
    width: 16px;
    height: 16px;
}

lens-catalogue::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: var(--gap-m);
    left: var(--gap-s);
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}
