error-toasts::part(flex-container) {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: var(--gap-s);
}

error-toasts::part(toast) {
    pointer-events: auto;
    border-radius: var(--border-radius-small);
    background-color: #ef9a9a;
    border: solid 1px var(--red);
    display: flex;
    align-items: center;
}

error-toasts::part(message) {
    padding: var(--gap-xs);
}

error-toasts::part(close-button) {
    padding: var(--gap-xs);
    margin-left: auto; /* align right */

    /* Remove button default styles */
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
