:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #a7a7a7;
    --light-gray: #dcdcdc;
    --lightest-gray: #efefef;
    --dark-gray: #323232;
    --blue: #0047b9;
    --light-blue: #0062ff;
    --lightest-blue: #adc7f3;
    --dark-blue: #002d80;
    --green: #00882d;
    --light-green: #00b33c;
    --dark-green: #00591a;
    --red: #b90000;
    --light-red: #ff0000;
    --dark-red: #800000;
    --orange: #ff8a3c;
    --light-orange: #ffa750;

    --border-radius-small: 5px;

    --gap-xxs: 5px;
    --gap-xs: 10px;
    --gap-s: 20px;
    --gap-m: 30px;
    --gap-l: 40px;
    --gap-xl: 50px;
    --gap-xxl: 60px;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --font-family: var(--font-family-inter);
    --font-color: var(--dark-gray);
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;

    --button-background-color: var(--blue);
    --button-background-color-hover: var(--light-blue);
    --button-color: var(--white);
}

/**
* Catalogue Structure
*/

lens-catalogue::part(info-button) {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
    height: 16px;
}

lens-catalogue::part(info-button-icon) {
    bottom: 5px;
    width: 16px;
    height: 16px;
}

lens-catalogue::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    height: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: var(--gap-m);
    left: var(--gap-s);
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

lens-chart::part(info-button) {
    position: absolute;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
    top: -10px;
    right: -10px;
}

lens-chart::part(info-button-icon) {
    bottom: var(--gap-xxs);
    width: 16px;
    height: 16px;
}

lens-chart::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 300px;
    z-index: 100;
    padding: var(--gap-s);
    top: 40px;
    right: 0px;
    border: solid 1px var(--blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

lens-chart::part(chart-hint) {
    font-size: var(--font-size-xs);
    padding-top: var(--gap-m);
}

/**
* Lens Search Bar Info Button
*/

lens-search-bar-multiple::part(info-button),
lens-search-bar::part(info-button) {
    background-color: var(--blue);
    border-color: var(--blue);
    position: relative;
    padding: 0;
    border: 0;
    top: +2px;
}

lens-search-bar::part(info-button-icon),
lens-search-bar-multiple::part(info-button-icon) {
    height: calc(var(--font-size-s) + 8px);
    width: calc(var(--font-size-s) + 8px);
    filter: brightness(0) invert(1);
    box-sizing: content-box;
    border-radius: 50%;
}

lens-search-bar::part(info-button-icon):hover,
lens-search-bar-multiple::part(info-button-icon):hover {
    cursor: pointer;
    filter: invert(41%) sepia(43%) saturate(4610%) hue-rotate(357deg)
        brightness(96%) contrast(90%);
}

lens-search-bar::part(info-button-dialogue),
lens-search-bar-multiple::part(info-button-dialogue) {
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: calc(var(--gap-m) + 4px);
    right: -20px;
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

/**
* result summary
*/

lens-result-summary::part(info-button) {
    position: relative;
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: var(--white);
    border-radius: var(--border-radius-small);
}
lens-result-summary::part(info-button-icon) {
    width: 16px;
}

lens-result-summary::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 30vw;
    z-index: 100;
    padding: var(--gap-s);
    top: 40px;
    left: 0px;
    border: solid 1px var(--blue);
    border-radius: var(--border-radius-small);
}
