lens-chart::part(info-button) {
    position: absolute;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    padding: 0;
    top: -10px;
    right: -10px;
}

lens-chart::part(info-button-icon) {
    bottom: var(--gap-xxs);
    width: 16px;
    height: 16px;
}

lens-chart::part(info-button-dialogue) {
    cursor: auto;
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 300px;
    z-index: 100;
    padding: var(--gap-s);
    top: 40px;
    right: 0px;
    border: solid 1px var(--blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}

lens-chart::part(chart-hint) {
    font-size: var(--font-size-xs);
    padding-top: var(--gap-m);
}
