/**
* stand alone search button
*/

lens-search-button::part(lens-search-button) {
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xs) var(--gap-s);
    font-size: var(--font-size-m);
    cursor: pointer;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
}

lens-search-button::part(lens-search-button-active) {
    background-color: var(--blue);
}

lens-search-button::part(lens-search-button-disabled) {
    background-color: var(--gray);
}

lens-search-button::part(lens-search-button-active):hover {
    background-color: var(--light-blue);
}

lens-search-button::part(lens-search-button-magnifying-glass) {
    transform: rotate(-45deg);
    font-size: var(--font-size-xl);
    line-height: 0;
}

lens-search-button::part(lens-search-button-title) {
    font-family: var(--font-family);
}

/**
* search button in multiple searchbar
*/

lens-search-bar-multiple::part(lens-search-button) {
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--gap-xs) var(--gap-s);
    font-size: var(--font-size-m);
    cursor: pointer;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    margin-left: auto;
    margin-right: 45px;
}

lens-search-bar-multiple::part(lens-search-button-active) {
    background-color: var(--blue);
}

lens-search-bar-multiple::part(lens-search-button-disabled) {
    background-color: var(--gray);
}

lens-search-bar-multiple::part(lens-search-button-active):hover {
    background-color: var(--light-blue);
}

lens-search-bar-multiple::part(lens-search-button-magnifying-glass) {
    transform: rotate(-45deg);
    font-size: var(--font-size-xl);
    line-height: 0;
}
