/**
* Lens Search Bar Info Button
*/

lens-search-bar-multiple::part(info-button),
lens-search-bar::part(info-button) {
    background-color: var(--blue);
    border-color: var(--blue);
    position: relative;
    padding: 0;
    border: 0;
    top: +2px;
}

lens-search-bar::part(info-button-icon),
lens-search-bar-multiple::part(info-button-icon) {
    height: calc(var(--font-size-s) + 8px);
    width: calc(var(--font-size-s) + 8px);
    filter: brightness(0) invert(1);
    box-sizing: content-box;
    border-radius: 50%;
}

lens-search-bar::part(info-button-icon):hover,
lens-search-bar-multiple::part(info-button-icon):hover {
    cursor: pointer;
    filter: invert(41%) sepia(43%) saturate(4610%) hue-rotate(357deg)
        brightness(96%) contrast(90%);
}

lens-search-bar::part(info-button-dialogue),
lens-search-bar-multiple::part(info-button-dialogue) {
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 200px;
    z-index: 100;
    padding: var(--gap-s);
    top: calc(var(--gap-m) + 4px);
    right: -20px;
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    text-align: left;
}
