name: "Samply.Lens Github Workflow"

on:
    push:
        tags:
            # This is not a regex: https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
            - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout Code"
              uses: actions/checkout@v4
            - name: "Setup NodeJS with cache (if available)"
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "npm"
            - name: "Download dependencies"
              run: npm ci
            - name: "Build @samply/lens"
              run: npm run build
            - name: "Publish @samply/lens"
              run: npm publish

    release:
        needs: build-and-publish
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout Code"
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: "Update CHANGELOG"
              id: changelog
              uses: requarks/changelog-action@v1
              with:
                  token: ${{ github.token }}
                  tag: ${{ github.ref_name }}

            - name: "Create Release"
              uses: ncipollo/release-action@v1
              with:
                  allowUpdates: true
                  draft: false
                  makeLatest: true
                  name: ${{ github.ref_name }}
                  body: ${{ steps.changelog.outputs.changes }}
                  token: ${{ github.token }}
