name: "Samply.Lens verify new Code"
on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - develop

jobs:
  verify-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      # for now disable code format check, will be activated later
      # name: "Check Code Format"
      #   run: npm run format:check
      - name: "Check Security"
        run: npm run security:check
      # - name: "Verify Commit Messages"
      #   run: npm run lint:commits
      # - name: "Svelte Check"
      #   run: npm run check
      # for now disable linting, will be activated later
      # run: npm run lint
